.pageRepo{
    position: relative;
    &-button{
        position: absolute;
        z-index: 1;
        width: 100%;
    }
    &-listshelves{
        position: absolute;
        width: 100%;

    }
}

